.dado-recuadro {
    display: flex;
    width: 2rem;
    height: 2rem;
    background-color: white;
    color: black    ;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 4px;
}