.wrapper {
  display: flex;
  flex-direction: column; /* coloca elementos en columna */
  align-items: center; /* centra horizontalmente */
  gap: 40px; /* espacio entre enunciado y tabla */
  text-align: center; /* centra el texto del enunciado */
}

.enunciado {
  font-size: 18px;
  color: blue;
  font-weight: bold;
}

.contenido{
  display: flex;
  flex-direction: column;
}
