.wrapper {
    display: flex;
    flex-direction: column;    /* coloca elementos en columna */
    align-items: center;       /* centra horizontalmente */
    gap: 40px;                 /* espacio entre enunciado y tabla */
    text-align: center;        /* centra el texto del enunciado */
}

.enunciado {
    font-size: 18px;
    color: blue;
    font-weight: bold;
}

.contenido{
    font-size: 40px;
}

.botones{
    margin-top: 50px;
}

button{
    font-size: 20px;
    border-radius: 5px;
    margin: 0 20px 0 20px;
}

.tiemposParada{
    font-size: 30px;

    h3{
        margin-top: 50px;
        font-size: 35px;
    }
}
